* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

:root {
    --mainColor: #E5E5E5;
    --secondaryColor: #ffda47;
    --textColor:#000000;
}
.container{
    background-color: white;
}



.logo {
    width: 180px;
    height: 40px;
    border-radius: 40px;
}





.shop {
    margin-left: 20px;
    margin-right: 20px;
    padding: 8px 15px;
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 5px;
    color:#000000;
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute space evenly between items */
    flex: 1;/*Ensures nav takes available space */
}

nav a {
    padding-left: 20px;
    margin-right: 60px;
    color: var(--textColor);
    text-decoration: none;
    text-wrap: nowrap;
}

.desktop-search-container {
    display: flex;
    justify-content: center;
    width: 50%;
    /* Pushes search to the end of the header space */
}


.desktop-search-input {
    width: 60%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.nav-btn, .search-icon {
    display: none;
    background: transparent;
    border: none;
    color: var(--textColor);
    font-size: 1.5rem;
}

/* Mobile View */
@media only screen and (max-width: 1024px) {
    .desktop-search-container {
        display: none;
    }

    .nav-btn, .search-icon {
        display: flex;
        
    }
    .search-icon{
        align-items: center;
        justify-content: center;
    }
    
    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 70%;
        width: 30%;
        
        background-color: var(--mainColor);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    nav.responsive_nav {
        transform: translateX(0);
        
        
        
    }
    nav a{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 15%;
        justify-content: center;
    }

    .mobile-search-container {
        width: 100%;
        padding: 8px;
        background-color: #f9f9f9;
        position: fixed;
        top: 80px;
    }
    .shop{
        margin-top: 10%;
        margin-bottom: 20%;
        width: 50%;
        margin-right: 10px;
    }

    .mobile-search-input {
        width: 90%;
        padding: 10px;
        margin: 0 auto;
        display: block;
        border-radius: 5px;
        font-size: 1rem;
        border: 1px solid #ccc;
    }
}
